@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Space Grotesk';
	src: url('$lib/assets/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Tilt Neon';
	src: url('$lib/assets/fonts/TiltNeon-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@theme {
	--color-bg-body: #f5f2f2;
	--color-primary: #feb05d;
	--color-secondary: #5a7acd;
	--color-surface: #ffffff;
	--color-main: #2b2a2a;

	--font-body:
		'Space Grotesk', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
	--font-display: 'Tilt Neon', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

@layer base {
	body {
		@apply font-body text-main;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-display text-main;
	}
}
